 
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ font-family: "Poppins", sans-serif;}
 
.bg-primary{background-color:#1F85B7;}
.cl-primary{color:#1F85B7;}
.about-banner{background:   url('/img/about-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.service-banner{background:   url('/img/service-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.pricing-banner{background:   url('/img/pricing-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.contact-banner{background:   url('/img/contact-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 


  
@-webkit-keyframes scroll { 
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(350px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 350px;display: flex;
    align-items: center;
}
.slider .slide img{ opacity: 0.8; transition: 0.5s; filter: grayscale(100%);}
.slider .slide img:hover{ opacity: 1; filter: grayscale(0%);}
.wrapper_carousel {
    background: var(--primary-grey);
    height: 500px;
    border-radius: 12px;
    box-shadow: 2px 2px 12px 2px #a4a4a4;
  }
  .carousel-data {
    max-width: 600px;
    min-height: 320px;
    margin: 0 auto;
    z-index: 100;
    /*overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;*/
  }
  .carousel-item {
    opacity: 0;
    position: absolute;
    z-index: 500;
    transition: 500ms ease-in-out;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .initial-slide, .active-slide {
    opacity: 1;
    position: relative;
    z-index: 1000;
    visibility: visible;
  }
  .next, .prev {
    z-index: 900;
  }
  .next {
    -webkit-animation: animate-right 500ms;
            animation: animate-right 500ms;
  }
  .prev {
    -webkit-animation: animate-left 500ms;
            animation: animate-left 500ms;
  }
  @-webkit-keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }
  @keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }
  @-webkit-keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
  }
  @keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
  }